<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>

     <h1>Team Name: <%= @name%> </h1><br>
     <p1>Coach: <%= @coach%> </p1><br>
     <p2>Point Guard: <%= @pg%> </p2><br>
     <p3>Shooting Guard: <%= @sg%> </p3><br>
     <p4>Small Forward: <%= @sf%> </p4><br>
     <p4>Power Forward: <%= @pf%> </p4><br>
     <p4>Center: <%= @c%> </p4><br>


 </body>
</html>
